@import url("theme.css");

/************************
* Showing SOURCE CODE
*************************/

/* FIXING A BUG OF THE THEME (LINES DON'T ALIGN WITH THE CODE) */
.rst-content .highlight > pre {
line-height: 1.5;
}

/* Line numbers */
div[class^='linenodiv'] pre {
	background-color: white;
	color: black;
}

/************************
* TABLES
*************************/
/* Fixing long lines */
.wy-table-responsive table td {
	white-space: normal;
}

/* Styling .. todo:: */
.rst-content .admonition-todo .admonition-title {
  background: #DA3434;
}

.admonition-todo.admonition {
	padding: 12px;
	margin-bottom: 24px;
	background: #FF8A72;
}
.admonition-todo p.admonition-title {
	margin: -12px;
	margin-bottom: 12px;
}
.admonition-todo p.last {
	margin:  -12px;
	padding: 15px;
}

/* Styling .. admonition:: Custom :class: btw (by the way) */
.btw {
	background: #DFDFDF;
	padding: 12px;
	margin-bottom: 24px;
}
.btw p.admonition-title {
	background: #949496;
	border-bottom: 1px solid #353A3C;
	margin: -12px;
	margin-bottom: 12px;
}

/* Styling .. topic:: Custom :class: my-topic */
.my-topic > .topic-title {
	background: #B2B2B5;
	border-bottom: 1px solid #353A3C;
	padding-right: 10px;
	font-weight: normal;
	text-align: right;
	color: white;
}
.my-topic {
	background: #E8E8E8;
}
